html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    background-color: #eeeeee;
}

.h1 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.h2 {
    font-size: 25px;
    text-align: center;
}

.contentarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 3px rgb(197, 197, 197);
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 20px;
}

.textfield {
    width: 100%;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    color: #a7a7a7;
    padding: 20px;
}

.buttoncontainer {
    overflow: auto;
}

.redbutton {
    background-color: rgb(173, 0, 0);
    color: white;
    border-radius: 20px;
    float: left;
    padding: 10px;
    width: 250px;
    font-size: 20px;
}

.greybutton {
    background-color: grey;
    color: white;
    border-radius: 20px;
    float: right;
    padding: 10px;
    width: 250px;
    font-size: 20px;
}

/*-----------------------------------------------------------*/
/*-----------------MEDIA QUERIES INDEX PAGE------------------*/
/*-----------------------------------------------------------*/

@media screen and (min-width: 374px) and (max-width: 639px) {
    .contentarea {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    .h1 {
        text-align: center;
        padding: 18px;
        font-size: 30px;
    }

    .header {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
        padding-top: 10px;

    }

    .h2 {
        font-size: 18px;
    }

    .redbutton {
        width: 240px;
        font-size: 12px;
        margin-left: 20px;
    }
    
    .greybutton {
        width: 240px;
        font-size: 12px;
        float: left;
        margin-left: 20px;
    }

}

@media screen and (min-width: 640px) {
    .contentarea {
        width: auto;
    }

    .h1 {
        text-align: center;
        padding: 18px;
    }

    .header {
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 10px;
    }

    .h2 {
        font-size: 18px;
    }

    .redbutton {
        width: 200px;
        font-size: 18px;
        position: relative;
    }
    
    .greybutton {
        width: 200px;
        font-size: 18px;
    }

}

